{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ title|default:"" }}</title>
<link href="{% static "switchinfo/switchinfo.css" %}" rel="stylesheet" type="text/css">
</head>

<body>
<ul class="toc">
	<li><a href="{% url 'switchinfo:switches' %}">Switches</a></li>
	<li><a href="{% url 'switchinfo:vlans' %}">Vlans</a></li>
    <li><a href="{% url 'switchinfo:models' %}">Switch models</a></li>
    <li><a href="{% url 'switchinfo:groups' %}">Switch groups</a></li>
    <li><a href="{% url 'switchinfo:search' %}">Search</a></li>
</ul>
<br>
<hr>
{% block content %} {% endblock %}
</body>
</html>