{% extends 'switchinfo/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <table border="1">
        <tr>
            <th>Series</th>
            <th>Count</th>
        </tr>
        {% for model in series %}
            <tr>
                <td>
                    <a href="{% url 'switchinfo:switch_series' series=model.series %}">{{ model.type }}&nbsp;{{ model.series }}</a>
                </td>
                <td>{{ model.count }}</td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <table border="1">
        <tr>
            <th>Model</th>
            <th>Count</th>
        </tr>
        {% for model in models %}
            <tr>
                <td>
                    <a href="{% url 'switchinfo:switch_model' model=model.model %}">{{ model.type }}&nbsp;{{ model.model }}</a>
                </td>
                <td>{{ model.count }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}