{% extends 'switchinfo/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'switchinfo/switchinfo_fancy.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <table class="switchinfo">
        <tr>
            <th>Series</th>
            <th>Count</th>
        </tr>
        {% for model in series %}
            <tr>
                <td>
                    <a href="{% url 'switchinfo:switches' %}?series={{ model.series|urlencode }}">{{ model.series }}</a>
                </td>
                <td>{{ model.count }}</td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <table class="switchinfo">
        <tr>
            <th>Model</th>
            <th>Count</th>
        </tr>
        {% for model in models %}
            <tr>
                <td>
                    <a href="{% url 'switchinfo:switches' %}?model={{ model.model|urlencode }}">{{ model.type }}&nbsp;{{ model.model }}</a>
                </td>
                <td>{{ model.count }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}