{% extends 'switchinfo/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'switchinfo/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'switchinfo/collapse_vlans.js' %}"></script>
{% endblock %}

{% block content %}
{% for switch, interfaces in switches %}
    {% if interfaces %}
	<h2><a href="{% url 'switchinfo:switch' name=switch.name %}">{{switch}}</a></h2>
	{% include 'switchinfo/switch_table.html' %}
    {% else %}
        Vlan exists on <a href="{% url 'switchinfo:switch' name=switch.name %}">{{ switch }}</a> without ports<br />
    {% endif %}
{% endfor %}
{% endblock %}